<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/nav'); -%>
        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>G2 Page</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p class="fs-1 text-success">Personal Information</p>
                        <% if(userInfo.licenseNo == "Default") { %>
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/post/create" method="post">
                            <div class="form-floating">
                                <input class="form-control" id="firstName" name="firstName" type="text" placeholder="Enter your First Name..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="name">First Name</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Enter your Last Name..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="name">Last Name</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="licenseNo" name="licenseNo" type="text" placeholder="Enter your License Number..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="name">License Number [Must be 8 characters alphanumeric]</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="age" name="age" type="text" placeholder="Enter your Age..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="phone">Age</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="dob" name="dob" type="date" placeholder="Enter your Date Of Birth..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="phone">Date Of Birth</label>
                            </div>
                            <br />
                            <p class="fs-1 text-success">Car Information</p>
                            <div class="form-floating">
                                <input class="form-control" id="car_details_make" name="car_details[make]" type="text" placeholder="Enter your Company Name..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="phone">Car Make (Company)</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="car_details_model" name="car_details[model]" type="text" placeholder="Enter your Car Model..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="phone">Car Model</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="car_details_year" name="car_details[year]" type="text" placeholder="Enter the Year Of Purchase..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="phone">Year Of Purchase</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="car_details_plateNo" name="car_details[plateNo]" type="text" placeholder="Enter your Number Plate..." data-sb-validations="required" />
                                <span id="error_message"></span>
                                <label for="phone">Plate Number</label>
                            </div>
                            <br>
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
                        </form>
                        <% 
                        } 
                            else
                        {
                        %>
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/post/create" method="post">
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.firstName %>" id="firstName" name="firstName" type="text" placeholder="Enter your First Name..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="name">First Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.lastName %>" id="lastName" name="lastName" type="text" placeholder="Enter your Last Name..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="name">Last Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.licenseNo %>" id="licenseNo" name="licenseNo" type="text" placeholder="Enter your License Number..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="name">License Number [Must be 8 characters alphanumeric]</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.age %>" id="age" name="age" type="text" placeholder="Enter your Age..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="phone">Age</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.dob.toISOString().slice(0, -14).trimLeft()%> %>" id="dob" name="dob" type="text" placeholder="Enter your Date Of Birth..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="phone">Date Of Birth</label>
                                </div>
                                <br />
                                <p class="fs-1 text-success">Car Information</p>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.car_details.make %>" id="car_details_make" name="car_details[make]" type="text" placeholder="Enter your Company Name..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="phone">Car Make (Company)</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.car_details.model %>" id="car_details_model" name="car_details[model]" type="text" placeholder="Enter your Car Model..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="phone">Car Model</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.car_details.year %>" id="car_details_year" name="car_details[year]" type="text" placeholder="Enter the Year Of Purchase..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="phone">Year Of Purchase</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" value="<%= userInfo.car_details.plateNo %>" id="car_details_plateNo" name="car_details[plateNo]" type="text" placeholder="Enter your Number Plate..." data-sb-validations="required" />
                                    <span id="error_message"></span>
                                    <label for="phone">Plate Number</label>
                                </div>
                                <br>
                                <button class="btn btn-primary text-uppercase" id="submitButton" disabled type="submit">Submit</button>
                            </form>
                            <% } %>

                            <% if(appointmentDetails == null) {%>
                            <p class="fs-1 text-success">Book Appointment for G2</p>
                            <% if(date == null) { %>
                            <form id="contactForm" action="/appointment/checkDateG2" method="post">
                                <div class="form-floating">
                                    Date : 
                                    <input id="date" name="date" type="date"/>
                                    <span id="error_message"></span>
                                </div>
                                <br>
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Check slots</button>
                                </form>
                                <%
                                } 
                                else
                                {
                                %>
                                <form id="contactForm" action="/appointment/bookG2Appointment" method="post">
                                <div class="form-floating">
                                    Date : 
                                    <input id="date" name="date" type="text" value="<%= findDate %>" />
                                </div>
                                <br>
                                Time : 
                                <select id="time" name="time">
                                    <option selected disabled> Select Time slot... </option>
                                    <% if(date.length == 0){ %>
                                        <option>No time slot available for this date...</option>
                                    <%
                                    }
                                    else
                                    {
                                    %>
                                    <% date.forEach(function(eachDate) { 
                                        if(eachDate.isTimeSlotAvailable) { %>
                                        <option value="<%= eachDate.time %>"><%= eachDate.time %></option>
                                    <% }}); %>
                                    <%}%>
                                </select>
                                <br><br>
                                <input type="hidden" name="testType" id="testType" value="G2">
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Book Appointment</button>
                                <% } %>
                            </form> 
                            <%}
                            else
                            {%>
                                <% if(userInfo.comment == "Default" && userInfo.result == "Default") {%>
                                <br><br>
                                <p class="fs-1 text-success">Your appointment is booked for G2 on <%= appointmentDetails.date %> at <%= appointmentDetails.time %>.<br>All The Best!!!</p>
                                <% } else { %>
                                <p class="fs-1 text-success">Your exam for G2 was on <%= appointmentDetails.date %> at <%= appointmentDetails.time %>.<br>
                                And your result is : <%= userInfo.result %>.
                                <br>
                                Comment : <%= userInfo.comment %>.</p>
                                <% } %>
                            <%}%>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/script'); -%>
    </body>
</html>